a { color: #adadad; font-size: 25px; text-decoration: none; float: center; font-family: 'Libre Baskerville', serif; line-height: 4; 
}
.table-hover>thead.no-hover:hover {
    background-color: #3b3b3e;
}
html, body {
  height: 100%;
  margin: 0;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 9px 26px;
    cursor: pointer;
    font-size: 15px;
}
.fa-file-image-o,.fa-file-movie-o,.fa-folder-open,.fa-file-pdf-o{
    font-size: 50px;
}
.fa-close{
    background-color: red;      
}
#delete{
    background-color: red;  
}
.btn:hover {
    background-color: RoyalBlue;
}
h2{
    font-family: 'Libre Baskerville',serif;font-size: 55px; font-stretch: semi-condensed;
}
.note
{
    text-align: center;
    height: 60px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 70px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;

}

#container{
    background-image: url("https://previews.123rf.com/images/milkos/milkos1801/milkos180101343/93522189-studying-chemistry-educational-background-microscope-books-and-colorful-liquids-at-classroom-blackbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}
.full-height {
  height: 100%;
}
table,#createform{
    background-color:white;  
}

li a{
    font-size: 20px;
}


.about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
     background: #f82249;
}
.about-btn:hover {
    background: transparent;
    color: #f8234a;
}

a:hover,
a:active,
a:focus {
  color: white;
  outline: none;
  text-decoration: none;
}
  .btnSubmit
            {
                border:none;
                border-radius:1.5rem;
                padding: 1%;
                width: 20%;
                cursor: pointer;
                background: #0062cc;
                color: #fff;
            }
             h2{
                font-family: 'Libre Baskerville',serif;font-size: 55px; font-stretch: semi-condensed;
            }